.header_app {
    background-color: #ecedef;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;

}

.header_app img {
    width: 30px;
    height: 30px;
    margin-left: 100px;
}

.profile {
    margin-right: 100px;
}